<div class="animated fadeIn">
    <div class="card" style="border-radius: 10px;">
        <div class="card-content" style="padding:0 20px 0 20px;">
            <div class=" row">
                <div class="col-md-7">
                    <h2 style="font-weight:bold;">Dashboard</h2>
                    <ol class="breadcrumb">
                        <li>
                            Dashboard
                        </li>
                        <li class="active">
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" style="border-radius:10px; padding: 15px;">

    <div class="row" style="margin: 10px 0 10px 0;">
        <div class="col-md-5" style="background-color: #EEEEEE; height:2px; margin-top:18px;">

        </div>
        <div class="col-md-2" style="font-weight:bold; font-size:25px; text-align:center;">
            {{myprojects}}
        </div>
        <div class="col-md-5" style="background-color: #EEEEEE; height:2px; margin-top:18px;">

        </div>
    </div>

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-4">
                <div class="mini-card" style="background-color:#018D4D">
                    <div class="mini-icon">
                        <i class="glyphicon glyphicon-ok-sign"></i>
                        <div class="mini-count">
                            <div class="label">
                                Completed: {{statCount.Completed}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mini-card" style="">
                    <div class="mini-icon">
                        <i class="fa fa-circle-o"></i>
                        <div class="mini-count">
                            <div class="label">
                                Active: {{statCount.Active}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mini-card" style="background-color:#E7E7E7">
                    <div class="mini-icon">
                        <i class="fa fa-close" style="color:black;"></i>
                        <div class="mini-count">
                            <div class="label" style="color:black;">
                                Cancelled: {{statCount.Cancelled}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mytasks" class="row" style="margin: 10px 0 10px 0; display:none;">
        <div class="col-md-5" style="background-color: #EEEEEE; height:2px; margin-top:18px;">

        </div>
        <div class="col-md-2" style="font-weight:bold; font-size:25px; text-align:center;">
            My Tasks
        </div>
        <div class="col-md-5" style="background-color: #EEEEEE; height:2px; margin-top:18px;">

        </div>
    </div>

    <div id="mytaskcontent" class="animated fadeIn" style="display:none;">
        <div class="row">
            <div class="col-md-4">
                <div class="mini-card" style="background-color:#018D4D">
                    <div class="mini-icon">
                        <i class="glyphicon glyphicon-ok-sign"></i>
                        <div class="mini-count">
                            <div class="label">
                                Completed: {{taskCount.Completed}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mini-card" style="background-color:#F39C15">
                    <div class="mini-icon">
                        <i class="fa fa-clock-o"></i>
                        <div class="mini-count">
                            <div class="label">
                                Pending: {{taskCount.Pending}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mini-card">
                    <div class="mini-icon">
                        <i class="fa fa-circle-o" style="color:white;"></i>
                        <div class="mini-count">
                            <div class="label" style="color:white;">
                                Available: {{taskCount.Available}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myactivites" class="row" style="margin: 10px 0 10px 0; display:none;" >
        <div class="col-md-5" style="background-color: #EEEEEE; height:2px; margin-top:18px;">

        </div>
        <div class="col-md-2" style="font-weight:bold; font-size:25px; text-align:center;">
            My Activities
        </div>
        <div class="col-md-5" style="background-color: #EEEEEE; height:2px; margin-top:18px;">

        </div>
    </div>

    <div id="myactivitescont" class="animated fadeIn" style="display:none;">
        <ul id="ultimeline" class="timeline">
            <!-- timeline time label -->
            <li class="tline" ng-repeat="activity in activities" ng-init="timelabel(activity.date, $index)" ng-click="changeURL(activity.id, activity.type)" style="cursor:pointer;">

                <i ng-if="timelineType(activity.type, 'Project')" class="{{timelineIcon(activity.type)}}" style="color:white;"></i>
                <div ng-if="timelineType(activity.type, 'Project')" class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{timelineTime(activity.date)}}</span>
                    <h3 class="timeline-header no-border"><a href="#"></a> {{activity.actcontent}}</h3>
                </div>

                <i ng-if="timelineType(activity.type, 'Task')" class="{{timelineIcon(activity.type)}}" style="color:white;"></i>
                <div ng-if="timelineType(activity.type, 'Task')" class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{timelineTime(activity.date)}}</span>
                    <h3 class="timeline-header">{{activity.projTitle}}</h3>
                    <div class="timeline-body">
                        {{activity.actcontent}} <a href="/user/profile/userId={{activity.assignto}}"> {{activity.Fullname}}</a>
                    </div>
                </div>

            </li>
            <!-- END timeline item -->
            <li>
                <i class="fa fa-clock-o bg-gray"></i>
            </li>
        </ul>
    </div>
</div>