<div class="animated fadeIn">
    <div class="card" style="border-top: 2px solid blue">
        <div class="card-content" style="padding:0 20px 0 20px;">
            <div class=" row">
                <div class="col-md-7">
                    <h2 style="font-weight:bold;">Dashboard</h2>
                    <ol class="breadcrumb">
                        <li>
                            Dashboard
                        </li>
                        <li class="active">
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
