<div class="animated fadeIn">
    <div class="card" style="border-top: 2px solid blue">
        <div class="card-content" style="padding:0 20px 0 20px;">
            <div class=" row">
                <div class="col-md-7">
                    <h2 style="font-weight:bold;">Project Details</h2>
                    <ol class="breadcrumb">
                        <li>
                            Projects
                        </li>
                        <li class="active">
                            <a href="../Project/List">List</a>
                        </li>
                        <li class="active">
                            <strong>{{projDetails.title}}</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-md-5" id="breadcrumbs" style="text-align:end; padding: 30px 20px 20px 30px;">
                    @*<a href="/Project/Tasks/projectId={{projDetails.projId}}" class="btn btn-app" style="background-color:transparent; margin-right:-5px; font-weight: 700; display:none;">
                        <i class="fa fa-user-plus" style="margin: -1px 0 0 0;"></i> Request
                    </a>*@
                    <a ng-show="showBtns('edit')" class="btn btn-app" style="background-color:transparent; margin-right:10px; font-weight: 700;" ng-click="Modal('show')">
                        <i class="fa fa-folder" style="margin: -1px 0 0 0;"></i>Edit
                    </a>
                    <a ng-show="showBtns('task')" href="/Project/Tasks/projectId={{projDetails.projId}}" class="btn btn-app" style="background-color:transparent; margin-left:-5px; font-weight: 700;">
                        <i class="fa fa-tasks" style="margin: -1px 0 0 0;"></i>Tasks
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="border-radius:10px;">
                <div class="card-content" style="margin: 15px 15px 15px 15px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <h2 style="font-weight: bold;">{{projDetails.title}}</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd><span class="{{setProjStatusColor(projDetails.status)}}">{{projDetails.status}}</span></dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Created by:</dt>
                                <dd>{{projDetails.creator}}</dd>
                                <dt>Version:</dt>
                                <dd>{{projDetails.version}} </dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>Last Activity:</dt>
                                <dd>{{projDetails.lastupdated}}</dd>
                                <dt>Created:</dt>
                                <dd>{{projDetails.createddate}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>
                                    <div class="progress progress-striped active" id="progressDetails">
                                        <div style="width: {{projDetails.Percentage}}%;" class="progress-bar"></div>
                                    </div>
                                    <small>Project completed <strong>{{projDetails.Percentage}}%</strong></small>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            @*<li style="cursor:pointer;" ng-click="click('tab1')" class="active"><a data-toggle="tab">Users messages</a></li>*@
                                            <li style="cursor:pointer;" ng-click="click('tab2')" class="active"><a data-toggle="tab">Last activity</a></li>
                                            <li style="cursor:pointer;" ng-click="click('tab3')"><a data-toggle="tab">Participant</a></li>
                                            <li style="cursor:pointer;" ng-click="click('tab4')"><a data-toggle="tab">Task</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab-1" style="display:none; padding:0 30px 0 30px;">
                            <div id="messageContainer" style="padding: 0 2px 0 2px; overflow-y: auto;">
                                <!-- Message. Default to the left -->
                                <div class="direct-chat-msg">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left" style="color:#00BCD4;">Alexander Pierce</span>
                                    </div><!-- /.direct-chat-info -->
                                    <img class="direct-chat-img" src="~/Content/dist/img/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                    <div class="direct-chat-text" style="color:white; background-color:#00BCD4;">
                                        Is this template really for free? That's unbelievable!
                                    </div><!-- /.direct-chat-text -->
                                </div><!-- /.direct-chat-msg -->
                                <!-- Message to the right -->
                                <div class="direct-chat-msg right">
                                    <div class="direct-chat-info clearfix">
                                        <div style="color:#00BCD4; text-align:end;">
                                            <span class="direct-chat-name pull-right">Sarah Bullock</span>
                                        </div>
                                    </div><!-- /.direct-chat-info -->
                                    <img class="direct-chat-img" src="~/Content/dist/img/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                    <div class="direct-chat-text" style="color:white; background-color:#00BCD4;">
                                        You better believe it!
                                    </div><!-- /.direct-chat-text -->
                                </div><!-- /.direct-chat-msg -->
                                <!-- Message. Default to the left -->
                                <div class="direct-chat-msg">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left" style="color:#00BCD4;">Alexander Pierce</span>
                                    </div><!-- /.direct-chat-info -->
                                    <img class="direct-chat-img" src="~/Content/dist/img/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                    <div class="direct-chat-text" style="color:white; background-color:#00BCD4;">
                                        Working with AdminLTE on a great new app! Wanna join?
                                    </div><!-- /.direct-chat-text -->
                                </div><!-- /.direct-chat-msg -->
                                <!-- Message to the right -->
                                <div class="direct-chat-msg right">
                                    <div class="direct-chat-info clearfix">
                                        <div style="color:#00BCD4; text-align:end;">
                                            <span class="direct-chat-name pull-right">Sarah Bullock</span>
                                        </div>
                                    </div><!-- /.direct-chat-info -->
                                    <img class="direct-chat-img" src="~/Content/dist/img/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                    <div class="direct-chat-text" style="color:white; background-color:#00BCD4;">
                                        I would love to.
                                    </div><!-- /.direct-chat-text -->
                                </div><!-- /.direct-chat-msg -->
                            </div>
                            <input type="hidden" id="getGroup" value="{{projDetails.projId}}" />
                            <div class="input-group" style="margin-top:30px;">
                                <input type="text" class="form-control" id="message" ng-keydown="sendMessageEnter($event)">
                                <span class="input-group-btn">
                                    <button ng-click="sendMessage()" class="btn btn-info btn-flat" type="button">Send</button>
                                </span>
                            </div>
                        </div>
                        <div id="tab-2" class="animated fadeIn" style="display:block;  padding: 0 1px 0 0; margin:0 20px 0 30px; overflow-y:auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Title</th>
                                        <th style="min-width: 115px;">Date and Time</th>
                                        <th>Activity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="animated fadeIn" ng-repeat="(aIndex, activity) in activities">
                                        <td style="min-width: 100px;">
                                            <span class="{{setStatusColor(activity.status)}}">{{activity.status}}</span>
                                        </td>
                                        <td style=" min-width: 140px; font-weight:500; font-size:16px;">
                                            {{activity.title}}
                                        </td>
                                        <td style="min-width: 180px; font-weight:500; font-size:16px;">
                                            {{convertJsonDate(activity.datetime)}}
                                        </td>
                                        <td style="min-width: 200px; font-weight:500; font-size:15px;">
                                            <p>
                                                <a id="anchor{{aIndex}}"></a> {{logcontent(activity.logContent, activity.userId, activity.fullname, activity.userId2, activity.fullname2, aIndex)}} <a id="anchor2{{aIndex}}"></a>
                                            </p>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div id="tab-3" style="display:none; padding:20px;">
                            <div class="row">
                                <div class="animated fadeIn" ng-repeat="pp in projParticipants" style="cursor:pointer;" ng-click="profile(pp.userId)">
                                    <div class="col-md-4">
                                        <div class="box box-widget widget-user">
                                            <!-- Add the bg color to the header using any of the bg-* classes -->
                                            <div class="widget-user-header" style="background-image: url({{pp.coverpath}}); background-position:center; background-repeat:no-repeat; background-size: 100% 150%;">

                                            </div>
                                            <div class="widget-user-image">
                                                <img class="img-circle" style="width:90px; height:90px;" src="{{pp.profpath}}" alt="User Avatar">
                                            </div>
                                            <div class="box-footer">
                                                <div class="row">
                                                    <div class="col-sm-12" style="text-align:center;">
                                                        <h3 class="widget-user-username" style="color:black; font-weight:500;">{{pp.fullname}}</h3>
                                                        <h5 class="widget-user-desc" style="color:black; font-weight:bold;">{{pp.position}}</h5>
                                                    </div>
                                                    <div class="col-sm-6 border-right">
                                                        <div class="description-block">
                                                            <h5 class="description-header">{{pp.projects}}</h5>
                                                            <span class="description-text">Projects</span>
                                                        </div><!-- /.description-block -->
                                                    </div><!-- /.col -->
                                                    <div class="col-sm-6">
                                                        <div class="description-block">
                                                            <h5 class="description-header">{{pp.tasks}}</h5>
                                                            <span class="description-text">Tasks</span>
                                                        </div><!-- /.description-block -->
                                                    </div><!-- /.col -->
                                                </div><!-- /.row -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="animated fadeIn" style="display:none;  padding: 0 1px 0 0; margin:0 20px 0 30px; overflow-y:auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Status</th>
                                        <th style="text-align:center;">Title</th>
                                        <th style="text-align:center;">Assigned To</th>
                                        <th style="text-align:center;">Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="task in tasks">
                                        <td style="text-align:center; min-width: 60px;" ng-init="setStatusColor($index)">
                                            <span class="{{setStatusColor(task.status)}}">{{task.status}}</span>
                                        </td>
                                        <td style="text-align:center; min-width: 100px; font-weight:bold;">
                                            {{task.title}}
                                        </td>
                                        <td style="text-align:center; min-width: 90px;">
                                            <a href="/user/profile/userId={{task.userId}}" class="protip" data-pt-scheme="aqua" data-pt-gravity="top 0 -10;" data-pt-title="{{task.fullname}}"><img src="{{task.profpath}}" class="img-circle" alt="User Image" style="width:40px; height: 40px;"></a>
                                        </td>
                                        <td style="text-align:center;">
                                            <p class="small" style="word-break:break-all; font-size:14px; font-weight:bold;">
                                                {{task.description}}
                                            </p>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div id="editmodal" class="modal" style="display:none;">
    <div id="editmodal2" class="modal-dialog" style="width:100%; max-width:850px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="Modal('close')">×</span></button>
                <h4 class="modal-title">Edit Project</h4>
            </div>
            <div class="modal-body">
                <div class="row m-t-sm">
                    <div class="col-lg-12">
                        <div class="panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li class="active" ng-click="tab('tab1')" id="tab1" style="cursor:pointer;"><a data-toggle="tab" aria-expanded="false">Project Details</a></li>
                                        <li class="" ng-click="tab('tab2')" id="tab2" style="cursor:pointer;"><a data-toggle="tab" aria-expanded="true">Participants</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div id="tab-6" style="display:none;">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box" style="padding:15px; border:none;">
                                        <div class="box-header" style="padding-top:38px;">

                                            <div class="box-tools">
                                                <div class="input-group" style="width: 250px;">
                                                    <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search" ng-model="search">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.box-header -->
                                        <div class="box-body table-responsive no-padding">
                                            <div style="max-height:280px; overflow-y:auto;">
                                                <table class="table table-hover" style="text-align:left;">
                                                    <tbody>
                                                        <tr>

                                                            <th style="width:50px;"><h4><strong>User</strong></h4></th>

                                                            <th> </th>
                                                            <th><h4><strong>Action</strong></h4></th>
                                                        </tr>
                                                        <tr class="animated fadeIn" ng-repeat="user in users | filter: search">
                                                            <td style="width: 20px;">
                                                                <a href="#" class="pull-left">
                                                                    <img alt="image" class="img-circle" src="{{user.profpath}}" style="width:38px;height:38px;">
                                                                </a>
                                                            </td>
                                                            <td style="padding-top:16px;">{{user.firstname}} {{user.lastname}}</td>
                                                            <td>
                                                                <p>
                                                                    <label>
                                                                        <input type="checkbox" class="checkParticipants" ng-init="checkbox(user.userId, $index)" style=" width: 18px; height: 18px;" ng-click="participants(user.userId)">
                                                                    </label>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                         </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div>
                            </div>
                        </div>
                        <div id="tab-5" style="display:block;">
                            <div class="animated fadeIn">
                                <div class="col-lg-12">
                                    <form class="form-horizontal">
                                        <div class="box-body">
                                            <div class="col-md-12" style="margin-top:10px;">
                                                <div class="col-md-2" style="padding:0;">
                                                    <label class="control-label">Project Name:</label>
                                                </div>
                                                <div class="col-md-10" style="padding:0;">
                                                    <input type="text" class="form-control" id="projectname" placeholder="" ng-model="data.title" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin-top:10px;">
                                                <div class="col-md-2" style="padding:0;">
                                                    <label class="control-label">Version:</label>
                                                </div>
                                                <div class="col-md-10" style="padding:0;">
                                                    <input type="text" class="form-control" id="Version" placeholder="" ng-model="data.version" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin-top:10px;">
                                                <div class="col-md-2" style="padding:0;">
                                                    <label class="control-label">Status:</label>
                                                </div>
                                                <div class="col-md-10" style="padding:0;">
                                                    <button id="btnActive" ng-click="btnStatus('Active')" class="btn btn-primary" style="display:inline-block;"><i class="fa fa-check"></i> Active</button>
                                                    <button id="btnSuccess" ng-click="btnStatus('Completed')" class="btn btn-success" style="display:inline-block;">Completed</button>
                                                    <button id="btnDefault" ng-click="btnStatus('Cancelled')" class="btn btn-default" style="display:inline-block;">Cancelled</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="Modal('close')">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateProject(data)">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>