<style>
    #myModal .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 50%;
        margin: 0 auto;
    }
</style>

<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="~/Content/Limitless/icons/icomoon/styles.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Limitless/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Limitless/core.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Limitless/profileCss.css" rel="stylesheet" type="text/css" />
<script src="~/Content/Limitless/app.min.js"></script>




<section class="content-header">
    <div class="profile-cover">
        <div class="profile-cover-img" id="coverid" style="Background-image: url(''); "></div>
        <div class="media">


            <div class="media-left">
                <a href="#" class="profile-thumb">

                    <img id="file" class="img-circle" alt="" style="width: 150px; height: 150px" />

                </a>
            </div>

            <div class="media-body">
                <h1 id="fullname"></h1>

            </div>
            <div class="media-right media-middle row">
                <ul class="list-inline list-inline-condensed no-margin-bottom text-nowrap">
                    @*<li ng-click="click_editprofile();click()"><a class="btn btn-default" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#ProfilePictureModal"><i class="glyphicon glyphicon-edit position-left"></i> Profile Picture</a></li>
                        <li ng-click="click_editcover();click()"><a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#ProfilePictureModal" class="btn btn-default"><i class="glyphicon glyphicon-edit position-left"></i> Cover image</a></li>*@
                    casdcasdacsas
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-xs content-group">
        <ul class="nav navbar-nav visible-xs-block">
            <li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter" class="legitRipple"><i class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-filter">
            <ul class="nav navbar-nav">
                <li style="cursor:pointer;" id="tab1" class="active" ng-click="tabcontrol('tab_project')"><a data-toggle="tab" class="legitRipple" aria-expanded="true"><i class="fa  fa-folder-open position-left"></i>Project</a></li>
                <li style="cursor:pointer;" id="tab2" class="" ng-click="tabcontrol('tab_task')"><a data-toggle="tab" class="lightSpeedIn" aria-expanded="false"><i class="glyphicon glyphicon-tasks position-left"></i> Tasks</a></li>
                
            </ul>


        </div>
    </div>




    <div class="row">
        <div class="col-lg-12">
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-project">

                        <!-- Timeline -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="border-radius:10px;">
                                    <div class="card-content">
                                        <div style="overflow-x:auto;">
                                            <table class="table table-hover">
                                                <th style="text-align:center;">Status</th>
                                                <th style="text-align:center;">Project Title</th>
                                                <th style="text-align:center;">Completion</th>
                                                <th style="text-align:center;">Participants</th>
                                                <th style="text-align:center;">Action</th>
                                                <tbody>
                                                    <tr class="animated fadeIn" ng-repeat="data in projlist | filter:searchProj">
                                                        <td style=" text-align:center;padding-top:23px; min-width:70px;">
                                                            <span class="{{setStatusColor2(data.status)}}">{{data.status}}</span>
                                                        </td>
                                                        <td style="text-align:center; font-weight:bold; padding-top:15px; min-width:250px;">
                                                            <label style="display: inline-block;position: relative; cursor:pointer;"> {{data.title}} <br><label style="display: inline-block;margin-right: .5em; font-size:10px;"> Created by: {{data.creator}}</label></label>
                                                        </td>
                                                        <td style="min-width: 150px; text-align:center; padding-top:15px;">
                                                            <div class="progress progress-xs progress-striped active">
                                                                <div class="progress-bar progress-bar-success" style="width: {{data.percentage}}%"></div>

                                                            </div>
                                                            <label style="font-size:10px; margin-top:10px;">Completion with: {{data.percentage}}%</label>

                                                        </td>

                                                        <td style="text-align:center; padding-top:15px; min-width: 250px;">
                                                            <div class="repeat" ng-repeat="pp in participants | filter: { projId: data.projId } | limitTo : 4" style="display:inline-block; margin-left:5px; width:40px; height: 40px;">
                                                                <div class="animated fadeIn">

                                                                    <a href="user/profile/userId={{pp.userId}}" class="protip" data-pt-scheme="aqua" data-pt-gravity="top 0 -10;" data-pt-title="{{pp.fullname}}"><img src="{{pp.profpath}}" class="img-circle" alt="User Image" style="width:40px; height: 40px;"></a>
                                                                </div>
                                                            </div>
                                                            <div ng-if="(participants | filter: { projId: data.projId }).length > 5" style="display:inline-block; margin-left:5px; width:40px; height: 40px;">
                                                                <div class="animated fadeIn">

                                                                    <a href="" id="pplength" class="protip" data-pt-scheme="aqua" data-pt-gravity="top 0 -10;" data-pt-title="{{participantsCount((participants | filter: { projId: data.projId }).length)}}"><img src="/uploads/Kasumeme.jpg" class="img-circle" alt="User Image" style="width:40px; height: 40px;"></a>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td style="text-align:center; padding-top:17px; min-width:180px;">
                                                            <a href="/Project/Details/projectId={{data.projId}}" class="btn btn-info"><i class="fa fa-folder-open"> Project Details</i></a>
                                                            @*<button class="btn btn-info"><i class="fa fa-edit"> Edit</i></button>*@
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /timeline -->

                    </div>

                    <div class="tab-pane fade" id="tab-task">
                        <!-- Task -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="border-radius:10px;">
                                    <div class="card-content">
                                        <div style="overflow-x:auto; overflow-y: auto; max-height: 400px;">
                                            <table class="table table-hover">
                                                <th style="text-align:center;">Status</th>
                                                <th style="text-align:center;">Project Title</th>
                                                <th style="text-align:center;">Task Title</th>
                                                <tbody>
                                                    <tr class="animated fadeIn" ng-repeat="data in tasks | filter:searchProj">
                                                        <td style=" text-align:center;padding-top:14px;">
                                                            <span class="{{setStatusColor(data.status)}}">{{data.status}}</span>
                                                        </td>
                                                        <td style="text-align:center; font-weight:bold; padding-top:13px; min-width:250px; font-size:14px;">
                                                            <label>{{data.Project}}</label>
                                                        </td>
                                                        <td style="text-align:center; font-weight:bold; padding-top:13px; min-width:250px; font-size:14px;">
                                                            <label>{{data.Task}}</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Task -->


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>